<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Kind</key>
  <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
  <key>Platforms</key>
  <array>
    <string>com.apple.platform.iphoneos</string>
  </array>
  <key>Description</key>
  <string>Swift class or struct</string>
  <key>Summary</key>
  <string>Create empty Swift class or struct</string>
  <key>SortOrder</key>
  <string>30</string>
  <key>AllowedTypes</key>
  <array>
    <string>public.swift-source</string>
  </array>
  <key>DefaultCompletionName</key>
  	<string>FileName</string>
  <key>MainTemplateFile</key>
    <string>___FILEBASENAME___.swift</string>
  <key>Options</key>
  <array>
    <dict>
      <key>Identifier</key>
      <string>objectType</string>
      <key>Required</key>
      <true/>
      <key>Name</key>
      <string>Type:</string>
      <key>Description</key>
      <string>The type to use</string>
      <key>Type</key>
      <string>popup</string>
      <key>Default</key>
      <string>Class</string>
      <key>Values</key>
      <array>
        <string>Class</string>
        <string>Struct</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
